.form{
    padding: 40px;
    background: rgb(255,255,255);
    border: 1px solid rgb(15,86,54);
    border-radius: 9px;
    width: 340px;
    margin: auto;
    margin-top: 200px;
}
.heading{
    color: rgb(15,86,54);
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
small{
    color: #afafaf;
}
input{
    border-radius: 0px;
    background: rgba(255,255,255,0);
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-color: rgb(15,86,54);border-left-width: 0px;
}